:root {
    --light-gray: #6B6F82;
    --dark-gray: #464855;
    --pepper-white: #fbf8fc;
    --school-color-footer: #1E5C7D;
    --school-color-dark: #001d89;
    --school-color-darker: #0d1e5f;
    --school-color-medium: #adceec;
    --school-color-soft: #cfe2f33a;
    --school-color-light: #6fa8dc;
    --school-color-bright: #378cdb;
    --school-color-white: #FFF;
    --background-color: #F4F5FA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    background-color: var(--background-color);
    padding-top: 80px;
    max-height: fit-content;
}

.navbar {
    background-color: white;
}

.navbar-brand img {
    width: 55px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item {
    border-bottom: 4px solid transparent;
    transition: all 300ms ease-in-out;
    font-weight: 500;
}

.active,
.nav-item:hover {
    font-weight: 500;
    color: var(--school-color-darker);
    border-bottom: 4px solid var(--school-color-darker)
}

.hero-section {
    min-height: calc(100vh - 5rem);
}

.hero-text h1 {
    font-weight: 800;
    color: var(--dark-gray);
}

.hero-text p {
    font-weight: 500;
    color: var(--light-gray);
}

.hero-text a {
    padding: 0.7rem;
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--school-color-darker);
    border: 1px solid var(--school-color-darker);
    transition: background-color 200ms ease-in-out;
}

.hero-text a:hover {
    color: var(--school-color-darker);
    background-color: transparent;
    font-weight: 600;
    border: 1px solid var(--school-color-darker);
}

.pepper {
    min-height: calc(100vh - 5rem);
    background-color: var(--school-color-darker);
}

.pepper h2 {
    color: #FFF;
    font-weight: 800;
    font-size: 2.5rem;
}

.pepper img {
    width: 100%;
    filter: drop-shadow(-1px 0px 111px rgba(255, 255, 255, 0.5)) drop-shadow(-15px 0px 15px rgba(0, 29, 137, 0.8));
}

.recent-events {
    background-color: white;
    min-height: 100vh;
}

.recent-events h2 {
    font-weight: 800;
    color: var(--dark-gray);
}

.background-image {
    background-size: cover;
}

footer {
    color: white;
    background-color: var(--school-color-darker);
}

footer .background-image {
    height: 75px;
    background-image: url(./images/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

footer a {
    color: white;
    font-size: 0.6rem;
    font-weight: bold;
}

footer p {
    font-size: 0.7rem;
}

footer p a {
    font-size: 0.7rem;
}

footer .icons i {
    font-size: 1rem;
}

@media only screen and (min-width: 768px) {

    .navbar-brand img {
        width: 65px;
    }

    .hero-section {
        min-height: calc(100vh - 10rem);
    }

    .hero-text a {
        padding: 1rem;
        font-size: 1rem;
    }

    .pepper h2 {
        font-size: 3rem;
    }


    footer a {
        font-size: 0.8rem;
    }

    footer .icons i {
        font-size: 1.2rem;
    }
}